.companions {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.comp-info-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 2rem 0;
  margin: 0 1rem;
  background-color: rgba(40, 40, 40, 0.75);
}

.lara-card-holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  width: 20%;
  background-color: rgb(0, 53, 94);
}

.lara-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(40, 40, 40, 0.75);
  padding: 1rem;
}

.lara-pfp {
  width: 75%;
}

.comp-pfp {
  width: 75%;
}

.comp-name, .comp-info {
  color: gold;
  display: flex;
  padding-top: 1rem;
}

.comp-name {
  font-size: 1.5rem;
  position: relative;
}

.comp-race, .comp-class {
  padding: 0px 0.2em;
  position: relative;
}

.lara-pfp, .comp-pfp, .comp-name:hover, .comp-race:hover, .comp-class:hover {
  color: orangered;
  cursor: pointer;
}
