body {
  background-color: rgb(65, 91, 148);
  height: 3000px;
}

.main-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -1;
}

.companion,
.info,
div {
  font-family: quattrocento;
  font-size: 20px;
  line-height: 1.5em;
}
