.nav-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 12rem;
  background-color: rgb(47, 23, 71);
  border-right: 0.2rem solid gold;

  z-index: 1000;
}

nav div {
  color: whitesmoke;
  margin: 2rem;
  font-size: 1.5rem;
  transition: 0.5s;
}

nav div:hover, :focus {
  cursor: pointer;
  text-decoration: underline;
  color: goldenrod;
}

nav div:first-child {
  margin: 1rem;
  text-align: end;
}
